
#tamanhoContainer{
    margin-top: -462px;
    margin-right: -569px;
    overflow:hidden;
    background-color: rgba(255,255,255,0);
}
#chekout{
	background-color: rgba(255,255,255,0);
}

#labelDataRetirada{
    display: block;
    color: #6d6e71;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'AvenirLTStd65Medium';
    margin-bottom: 3px;
    font-weight: normal;
}

#mediaDataRetirada{
    width: 31%;
}
.campoData {
    background: none;
    background-color: #f1f2f2;
    border: none;
    border-top: 4px solid #e5e6e6;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'AvenirLTStd65Medium';
    font-size: 11px;
    color: #808285;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    height: 27px;
    vertical-align: bottom;
    width: 110px
}

.campoDataRetirada {
    background: none;
    background-color: #f1f2f2;
    border: none;
    border-top: 4px solid #e5e6e6;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'AvenirLTStd65Medium';
    font-size: 11px;
    color: #808285;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    height: 27px;
    vertical-align: bottom;
    width: 110px
}

.campoDataRetorno {
    background: none;
    background-color: #f1f2f2;
    border: none;
    border-top: 4px solid #e5e6e6;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'AvenirLTStd65Medium';
    font-size: 11px;
    color: #808285;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    height: 27px;
    vertical-align: bottom;
    width: 110px
}
.campoHora {
    background: none;
    background-color: #f1f2f2;
    border: none;
    border-top: 4px solid #e5e6e6;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'AvenirLTStd65Medium';
    font-size: 11px;
    color: #808285;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: bottom;
    width: 110px;
    margin-right: 5px;
    height: 30px;
}
.campoLocal {
    background: none;
    background-color: #f1f2f2;
    border: none;
    border-top: 4px solid #e5e6e6;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'AvenirLTStd65Medium';
    font-size: 11px;
    color: #808285;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: bottom;
    width: 90%;
    margin-right: 5px;
}



#tituloCidade {
    font-size: 30px;
    font-family: 'AvenirLTStd65Medium';
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 35px;
}

#enderecoRodape {
    font-size: 14px;
    font-family: 'AvenirLTStd65Medium';
    text-transform: uppercase;
    color: #FFF;
    margin-top: -5px;
}

.iconeInformacao {
    width: 100%;
    text-align: center;
}

.tituloInformacao {
    width: 100%;
    text-align: center;
    color: #414042;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'AvenirLTStd95Black';
}

.descricaoInformacao {
    width: 100%;
    text-align: center;
    min-height: 120px;
}
#text-center{
	text-center;
	    margin-right: 10%;
	
}
.textoDireitos {
    font-family: 'AvenirLTStd65Medium';
    color: #6d6e71;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 10px;
        margin-left: 25%
    
}
.textoCentralReserva {
    font-family: 'AvenirLTStd65Medium';
    font-size: 14px;
    color: #FFF;
}

.menuRodape {
    margin-top: 38px;
    margin-left: 22px;
}

.menuRodape ul {
    list-style: none;
}

.menuRodape ul li {
    float: left;
    width: 197px;
    color: #6d6e71;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
}

.menuRodape ul li a {
    text-decoration: none;
    color: #6d6e71;
}

.menuRodape ul li a:hover {
    color: #ef5755;
    text-decoration: underline !important;
}